.logo{
    font-size: 30px;
    color: #198754;
    opacity: .9;
}

main{
    margin-top: 30px;
}

.otziv_frame{
    width: 600px;
    border: 1px solid #198754;
    border-radius: 15px;
}

.user_photo{
    width: 35px;
    height: 35px;
}

.user_data{
    margin-left: 7px;
    margin-top: 6px;
}

.user_name{
    font-size: 17px;
    margin-left: 5px;
    margin-top: 4px;
}