{% extends "base.html" %}

{% block content %}
<h4>Новый продукт</h4>
<form action="" method="post" enctype="multipart/form-data" style="width: 600px;">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.category.label }}<br>
        {{ form.category(class="form-control") }}<br>
        {% for error in form.category.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.photo.label }}<br>
        {{ form.photo(class="form-control-file", type="file") }}<br>
        {% for error in form.photo.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-outline-success") }}</p>
    <div style="margin-left: 30px; margin-bottom: 50px;">
        <div>{{ message }}</div>
    </div>
</form>
{% endblock %}