<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand logo" href="/">ⓝⓞⓡⓜⓘⓚ</a>
            <form class="d-flex" role="search">
                {% if current_user.is_authenticated %}
                <a href="/user/{{current_user.id}}">
                    <img src="{{current_user.photo}}" style="width: 37px; border-radius: 50%">
                </a>
                {% else %}
                <a href="/login">
                    <img src="/static/img/user_stock_img.png" style="width: 37px; border-radius: 50%">
                </a>
                {% endif %}
                <input name="search" class="form-control me-2" type="search" placeholder="Поиск"
                       style="margin-left: 35px"
                       aria-label="Search">
                <button class="btn btn-outline-success" type="submit" style="margin-left: 5px">Поиск</button>
            </form>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row" style="margin-top: 30px">
        <div class="col-3 container">
            <ul class="list-group list-group-flush" style="width: 120px">
                <li class="list-group-item text-center">
                    <a href="/game" style="color: #198754; opacity: .9">
                        Игры
                    </a>
                </li>
                <li class="list-group-item text-center">
                    <a href="/soft" style="color: #198754; opacity: .9">
                        Софт
                    </a>
                </li>
                <li class="list-group-item text-center">
                    <a href="/music" style="color: #198754; opacity: .9">
                        Музыка
                    </a>
                </li>
                <li class="list-group-item text-center">
                    <a href="/movies" style="color: #198754; opacity: .9">
                        Фильмы
                    </a>
                </li>
                <li class="list-group-item text-center">
                    <a href="/series" style="color: #198754; opacity: .9">
                        Сериалы
                    </a>
                </li>
                <li class="list-group-item text-center">
                    <a href="/literature" style="color: #198754; opacity: .9">
                        Литература
                    </a>
                </li>
                <li class="list-group-item text-center">
                    <a href="/technique" style="color: #198754; opacity: .9">
                        Техника
                    </a>
                </li>
                <li class="list-group-item text-center">
                    <a href="/other" style="color: #198754; opacity: .9">
                        Разное
                    </a>
                </li>
            </ul>
        </div>
        <main role="main" class="col container">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
</body>
</html>